<div class="container">
  <h1>New Employee</h1>
</div>
<div class="container">
  <%= render 'form', employee: @employee %>
</div>
<div class="container">
  <%= link_to 'Back', employees_path %>
</div>