<div class="container">
  <h1>New Partner Company</h1>
</div>
<div class="container">
  <%= render 'form', partner_company: @partner_company %>
</div>
<div class="container">
  <%= link_to 'Back', partner_companies_path %>
</div>