
<div class="container">
  <p>
    <strong>Identity:</strong>
    <%= @company.identity %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @company.name %>
  </p>
</div>
<div class="container">
  <%= link_to 'Edit', edit_company_path(@company) %> | <%= link_to 'Back', companies_path %>
</div>