<div class="container mt-4">
  <h1><%= @company.name %></h1>

  <p class="mt-3">
    <strong>Identity:</strong><br>
    <%= @company.identity %>
  </p>

  <%= link_to "Edit", edit_company_path(@company), class: "btn btn-primary" %>
  <%= link_to "Back", companies_path, class: "btn btn-primary" %>
</div>
